<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleName</key>
    <string>HotSync</string>
    <key>CFBundleDisplayName</key>
    <string>HotSync</string>
    <key>CFBundleIdentifier</key>
    <string>com.palm.hotsync.macos</string>
    <key>CFBundleVersion</key>
    <string>1.1.3</string>
    <key>CFBundleShortVersionString</key>
    <string>1.1.3</string>
    <key>CFBundleExecutable</key>
    <string>HotSync</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>LSUIElement</key>
    <false/>
    <key>NSHighResolutionCapable</key>
    <true/>
    <key>NSPrincipalClass</key>
    <string>NSApplication</string>
    <key>LSMinimumSystemVersion</key>
    <string>14.0</string>
    <key>CFBundleIconFile</key>
    <string>AppIcon</string>
    <key>CFBundleDocumentTypes</key>
    <array>
        <dict>
            <key>CFBundleTypeName</key>
            <string>Palm OS Application</string>
            <key>CFBundleTypeRole</key>
            <string>Viewer</string>
            <key>LSHandlerRank</key>
            <string>Default</string>
            <key>LSItemContentTypes</key>
            <array>
                <string>com.palm.prc</string>
            </array>
            <key>CFBundleTypeExtensions</key>
            <array>
                <string>prc</string>
            </array>
        </dict>
        <dict>
            <key>CFBundleTypeName</key>
            <string>Palm OS Database</string>
            <key>CFBundleTypeRole</key>
            <string>Viewer</string>
            <key>LSHandlerRank</key>
            <string>Default</string>
            <key>LSItemContentTypes</key>
            <array>
                <string>com.palm.pdb</string>
                <!-- LibreOffice imports .pdb as AportisDoc (a Palm database
                     too); with LibreOffice installed, .pdb files get this
                     type instead of com.palm.pdb -->
                <string>org.libreoffice.pdb-document</string>
            </array>
            <key>CFBundleTypeExtensions</key>
            <array>
                <string>pdb</string>
            </array>
        </dict>
    </array>
    <key>UTImportedTypeDeclarations</key>
    <array>
        <dict>
            <key>UTTypeIdentifier</key>
            <string>com.palm.prc</string>
            <key>UTTypeDescription</key>
            <string>Palm OS Application</string>
            <key>UTTypeConformsTo</key>
            <array>
                <string>public.data</string>
            </array>
            <key>UTTypeTagSpecification</key>
            <dict>
                <key>public.filename-extension</key>
                <array>
                    <string>prc</string>
                </array>
            </dict>
        </dict>
        <dict>
            <key>UTTypeIdentifier</key>
            <string>com.palm.pdb</string>
            <key>UTTypeDescription</key>
            <string>Palm OS Database</string>
            <key>UTTypeConformsTo</key>
            <array>
                <string>public.data</string>
            </array>
            <key>UTTypeTagSpecification</key>
            <dict>
                <key>public.filename-extension</key>
                <array>
                    <string>pdb</string>
                </array>
            </dict>
        </dict>
    </array>
</dict>
</plist>
